# Virtual Environment
venv/
.venv/
ENV/
env/
.env.example
.env.production

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Local Env configuration
.env

# Databases
db.sqlite3
*.sqlite3
*.sql

# OS files
.DS_Store
Thumbs.db
Desktop.ini
